name: Python Linter
on:
  pull_request:
    branches: [ 'main' ] 
  push:
    branches: [ '**' ] # all branches will be linted by default
jobs:
  ruff-lint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Poetry 2.2.0
        run: python -m pip install --upgrade pip && pip install "poetry==2.2.0"
      - name: Install the test dependencies with poetry
        run: |
          poetry install --no-interaction --with test
      - name: Run ruff
        run: poetry run ruff check src/mangetamain